<aside #sidebar id="sidebar" class="sidebar break-point-sm has-bg-image collapsed">
  <a #btnCollapse id="btn-collapse" class="sidebar-collapser">
    <!-- <i class="ri-arrow-left-s-line"></i> -->
    <fa-icon [icon]="faAngleLeft" style="font-size: 13px;"></fa-icon>
  </a>
  <div class="image-wrapper">
    <!-- <img src="assets/images/sidebar-bg.jpg" alt="sidebar background" /> -->
  </div>
  <div class="sidebar-layout">
    <div class="sidebar-header">
      <div class="pro-sidebar-logo">
        <div>Y</div>
        <h5>Yaeli's Boutique</h5>
      </div>
    </div>
    <div class="sidebar-content">
      <nav class="menu open-current-submenu">
        <ul>
          <li class="menu-header"><span> GENERAL </span></li>
          <app-nav-item routerLink="/ventas" [icon]="faCashRegister">Ventas</app-nav-item>
          <app-nav-item routerLink="/inventario" [icon]="faBoxes">Inventario</app-nav-item>
          <app-nav-item routerLink="/empleados" [icon]="faUsers">Empleados</app-nav-item>
          <app-nav-item routerLink="/logout" [icon]="faSignOut">Cerrar sesión</app-nav-item>
        </ul>
      </nav>
    </div>
  </div>
</aside>
